# ETL PVPC

Estracción y manipulacion de precio PVPC. Precio Voluntario Pequeño Consumido

In [68]:
#!/usr/bin/env python
import url
import time
import requests
import pandas as pd
from datetime import datetime
import urllib


url = 'https://api.esios.ree.es/indicators/10229'
url ="https://api.esios.ree.es/indicators"
f= pd.DataFrame()
for bl in range(2015,2018): 
     for al in range(1,13):
        year = str(bl)
        month = str(al) if al>9 else "0"+str(al)    
        url ="https://api.esios.ree.es/indicators/10229?start_date="+year+"-"+month+"-01T00%3A00%3A00Z&end_date="+year+"-"+month+"-27T07%3A34%3A17Z"


        headers = {
            'Accept' : 'application/json; application/vnd.esios-api-v1+json',
            'Host': 'api.esios.ree.es',
            'Content-Type': 'application/json',
            'Authorization': 'Token token="xxxxxxxxxxxxxxxxxxxxxxxx"'
                    }


        response = requests.request("GET", url, headers=headers)
        
        try:    
            a = response.json()
            a= a['indicator']['values']
            c = pd.DataFrame(a)
            f = f.append(c)
            #print len(total)
            print f.shape
        except:
            print "error "#+ str(len(total))

(632, 6)
(1264, 6)
(1896, 6)
(2528, 6)
(3160, 6)
(3792, 6)
(4424, 6)
(5056, 6)
(5688, 6)
(6320, 6)
(6952, 6)
(7584, 6)
(8216, 6)
(8848, 6)
(9480, 6)
(10112, 6)
(10744, 6)
(11376, 6)
(12008, 6)
(12640, 6)
(13272, 6)
(13904, 6)
(14536, 6)
(15168, 6)
(15800, 6)
(16432, 6)
(17064, 6)
(17696, 6)
(18328, 6)
(18960, 6)
(19592, 6)
(20224, 6)
(20856, 6)
(21488, 6)
(22120, 6)
(22752, 6)

In [89]:
f = pd.read_csv("POOL2015_17", encoding='utf-8')

In [100]:
#f.to_csv("POOL2015_17", encoding='utf-8', index=False)
#f = pd.DataFrame(f)
f.head()

                          value
dia        geo_name
01/01/2015 España    126.177083
01/01/2016 España     96.125417
01/01/2017 España    125.387917
01/02/2015 España    131.443750
01/02/2016 España     98.226667

In [91]:
f['datetime']=pd.to_datetime(f['datetime'])

In [92]:
f['dia'] = f['datetime'].dt.strftime('%m/%d/%Y')
f = f.groupby(['dia','geo_name'])['value'].mean()

In [102]:
f.to_csv("/home/bju/data_app/pool_price2015_17", encoding='utf-8',decimal=',')